.loc-icn{
  cursor: pointer;
}
.addlocationrow.relative {
  padding-right: 60px;
}
.c_check{
  font-size: 20px;
    background: green;
    padding: 2px;
    color: #fff;
    border-radius: 5px;
}
.loc-check-a{
  position: absolute;
  right: 30px;
  top: 8px;
}