<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8">
            <div class="">
                <div class="d-flex pt-0 pb-15 pl-20 pr-20">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Feedback from App</div>

                </div>

                <div class="p-3">
                    <table class="table table-hover" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="relative">
                                        <h6 class="fontsize-14 fontfamily-medium color333 mb-1">David Mcdonald</h6>
                                        <div>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                            <i class="fa fa-star staricon"></i>
                                        </div>
                                        <p class="fontsize-12 colorblack mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum
                                            velit, in egestas urna volutpat a. Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>