<section class="contact-us-sec1 mt-70 pb-40 faq_content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="mt-50">
                    <div class="bgwhite boxshadow-2 border-radius8 pt-20 pb-20 pl-30 pr-30">
                        <div class="mb-10 row">
                            <div class="col-md-8">
                                <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-25 mb-10">Faq</h4>
                            </div>
                            <div class="col-md-4 mt-25 mb-10">
                                <div class="form-group input-rw-tp">                            
                                    <select name="" id="" class="form-control" (change)="type_change($event.target.value)">
                                        <option value="all" >All</option>
                                        <option value="health">Health Organization</option>
                                        <option value="business">Business/Institution</option>
                                        <option value="user">User</option>
                                    </select>                            
                                </div>
                            </div>                            
                        </div>
                       
                        <div class="accordion" id="faqExample">
                            <div class="card" *ngFor="let item of faqsdata">
                                <div class="card-header p-0" id="{{ 'heading' +item.Id}}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + item.Id"  aria-expanded="true"  [attr.aria-controls]="'collapse' + item.Id" >
                                            {{item.Question}}
                                        </button>
                                    </h5>
                                </div>

                                <div id="{{ 'collapse' +item.Id}}" class="collapse " [attr.aria-labelledby]="'heading' + item.Id" data-parent="#faqExample">
                                    <div class="card-body">
                                        {{item.Answer}}
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>