<div class="container-fulid web-sign-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 m-auto" >
                <div class="bgwhite boxshadow-2 border-radius8 mt-50 pt-20 pb-20 pl-15 pr-15  wow fadeInUp" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 m-auto">
                            <div class="sign-bock bgwhite pt-10 pb-10 pl-30 pr-30">
                                <div class="text-center">
                                    <!-- <img src="images/logo.svg" class="sign-logo"> -->
                                    <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-0 mb-10">Login</h4>
                                    <p class="fontsize-14 fontfamily-medium color4848 mb-50">Enter your credentials to Login</p>
                                    <form [formGroup]="loginform" (ngSubmit)="login()">
                                        <div class="form-group input-rw-tp">
                                            <input  name="email" type="email"  [(ngModel)]="email" placeholder="Email" class="form-control input-tp-1" required  formControlName="email">
                                            <i class="fa fa-check-circle check-g"></i>
                                        </div>
                                        <div *ngIf="loginform.controls['email'].invalid && submited" class="alert-danger text-left">Email is not valid</div>
                                        <div class="form-group input-rw-tp " [ngClass]="(submited && loginform.controls['password'].invalid)?'mb-0':''">
                                            <input type="password" name="password" [(ngModel)]="Password"  placeholder="Password"  required  formControlName="password" class="form-control input-tp-1">
                                            <i class="fa fa-check-circle check-g"></i>
                                        </div>
                                        <div *ngIf="submited && loginform.controls['password'].invalid" class="alert-danger text-left">Password is required</div>   
                                        <div class="forgot-tex text-right">
                                            <a [routerLink]="['/auth/forgot']" class="fontsize-12 fontfamily-medium color333">Forgot Password?</a>
                                        </div>
                                        <div class="form-group input-rw-tp mt-30 mb-0">
                                            <button type="button" (click)="login()" class="btn btn-large btn-rad-24">LOG IN</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>