<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8 pl-20 pt-25 pr-20 pb-50 mb-50">
            <div class="">
                <div class="d-flex pt-0 pb-0 ">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Configure Subscription</div>
                </div>
                <div>
                    <div class="ml-auto text-right mb-35">
                        <button class="btn widthfit btn-small"><i class="fa fa-plus mr-10"></i>Add More </button>
                    </div>
                </div>
                <div class="pl-15 pr-15">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="configure-subscription-block relative">
                                <div class="faq-colse">×</div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Name</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Amount</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Benefits</label>
                                    <div class="form-group input-rw-tp">
                                        <textarea type="text" name="" placeholder="Enter Here" class="form-control input-tp-1" style="min-height: 100px;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-rad-24">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="configure-subscription-block relative">
                                <div class="faq-colse">×</div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Name</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Amount</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Benefits</label>
                                    <div class="form-group input-rw-tp">
                                        <textarea type="text" name="" placeholder="Enter Here" class="form-control input-tp-1" style="min-height: 100px;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-rad-24">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="configure-subscription-block relative">
                                <div class="faq-colse">×</div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Name</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Subscription Amount</label>
                                    <div class="form-group input-rw-tp">
                                        <input type="text" name="" placeholder="Enter Here" class="form-control input-tp-1">
                                    </div>
                                </div>
                                <div>
                                    <label class="fontsize-14 fontfamily-medium color333">Benefits</label>
                                    <div class="form-group input-rw-tp">
                                        <textarea type="text" name="" placeholder="Enter Here" class="form-control input-tp-1" style="min-height: 100px;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-rad-24">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>