<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8 pl-20 pt-25 pr-20 pb-50 mb-50">
            <div class="">
                <div class="d-flex pt-0 pb-0 ">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Configure Subscription</div>
                </div>
                <div>
                    <div class="ml-auto text-right mb-35">
                        <button class="btn widthfit btn-small" (click)="createsubscription();"><i class="fa fa-plus mr-10"></i>Add More </button>
                    </div>
                </div>
                <div class="pl-15 pr-15">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12" *ngFor="let item of alldata">
                            <div class="configure-subscription-block relative" style="box-shadow: 0 3px 10px 0 rgb(0 0 0 / 25%);border-radius: 5px;">
                                <div class="faq-status"  *ngIf="item.Status==1" style="right:15px"><i class="fa fa-check" style="padding-top: 3px;"></i></div>
                                <div class="faq-colse" (click)="subscription_remove(item.Id)">×</div>
                                <h5 class="fontsize-26 colorblack fontfamily-medium mb-15 text-center mt-4">{{item.Name}}</h5>
                                <h2 class="fontsize-36 fontfamily-bold text-center colorblue1 mb-15">$ {{item.Amount.toFixed(2)}} USD</h2>
                                <h5 class="fontsize-20 colorblack fontfamily-medium mb-15 text-center" *ngIf="item.Numbermin!=item.Numbermax" >{{item.Numbermin}} to {{item.Numbermax}} Account(s)</h5>
                                <h5 class="fontsize-20 colorblack fontfamily-medium mb-15 text-center" *ngIf="item.Numbermin==item.Numbermax" >{{item.Numbermin}} Account(s)</h5>
                                <p class="colorblack mb-10 text-left description"  [innerHtml]="item.Description"></p>        
                                <div class="text-center mt-40 mb-4">
                                    <button class="btn bluebtn width160" (click)="editsubscription(item.Id)">Edit</button>
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>