<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8">
            <div class="">
                <div class=" pt-10 pb-15 pl-20 pr-20">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Frequently Asked Questions (FAQ)</div>
                </div>

                <div class="row pl-35 pr-35">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <p class="fontsize-12 fontfamily-medium color999">Show for (Individual, Business, Health Organization, All)</p>
                        <div class="form-group input-rw-tp">
                            <div class="btn-group multi_sigle_select inp_select">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle mss_sl_btn" aria-expanded="false">All</button>
                                <ul class="dropdown-menu mss_sl_btn_dm">
                                    <li class="radiobox-image"><input type="radio" id="id_283" name="state_name" class="" value="283"><label for="id_283">All</label></li>
                                    <li class="radiobox-image"><input type="radio" id="id_284" name="state_name" class="" value="284"><label for="id_284">hcgvb</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-auto text-right">
                        <button class="btn widthfit btn-small"><i class="fa fa-plus mr-10"></i>Add More </button>
                    </div>
                </div>

                <div class="pl-35 pr-35 pb-30">
                    <div class="que-and-row relative around-20 bggray1">
                        <div class="faq-colse">×</div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="form-group input-rw-tp">
                                <input type="text" name="" placeholder="" value="Sed fermentum arcu a hendrerit venenatis. ?" class="form-control input-tp-1">
                            </div>
                        </div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="ans-block fontsize-12 fontfamily-medium colorblack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum velit, in egestas urna volutpat a.
                                Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.
                            </div>
                        </div>
                    </div>
                    <div class="que-and-row relative around-20 bggray1">
                        <div class="faq-colse">×</div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="form-group input-rw-tp">
                                <input type="text" name="" placeholder="" value="Sed fermentum arcu a hendrerit venenatis. ?" class="form-control input-tp-1">
                            </div>
                        </div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="ans-block fontsize-12 fontfamily-medium colorblack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum velit, in egestas urna volutpat a.
                                Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.
                            </div>
                        </div>
                    </div>
                    <div class="que-and-row relative around-20 bggray1">
                        <div class="faq-colse">×</div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="form-group input-rw-tp">
                                <input type="text" name="" placeholder="" value="Sed fermentum arcu a hendrerit venenatis. ?" class="form-control input-tp-1">
                            </div>
                        </div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="ans-block fontsize-12 fontfamily-medium colorblack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum velit, in egestas urna volutpat a.
                                Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.
                            </div>
                        </div>
                    </div>
                    <div class="que-and-row relative around-20 bggray1">
                        <div class="faq-colse">×</div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="form-group input-rw-tp">
                                <input type="text" name="" placeholder="" value="Sed fermentum arcu a hendrerit venenatis. ?" class="form-control input-tp-1">
                            </div>
                        </div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="ans-block fontsize-12 fontfamily-medium colorblack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum velit, in egestas urna volutpat a.
                                Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.
                            </div>
                        </div>
                    </div>
                    <div class="que-and-row relative around-20 bggray1">
                        <div class="faq-colse">×</div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="form-group input-rw-tp">
                                <input type="text" name="" placeholder="" value="Sed fermentum arcu a hendrerit venenatis. ?" class="form-control input-tp-1">
                            </div>
                        </div>
                        <div>
                            <label class="q-label fontfamily-medium fontsize-14 color333">Question 1</label>
                            <div class="ans-block fontsize-12 fontfamily-medium colorblack">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam ac felis facilisis ullamcorper. Null am dignissim velit aliquam molestie dignissim. Sus pendisse potenti. Etiam consectetur vestibulum velit, in egestas urna volutpat a.
                                Suspendisse facilisis nibh non nibh interdum, a convallis turpis interdum. Quisque nec semper risus, a lobortis puru tudin massa.
                            </div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <button class="btn btn-rad-24 widthfit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>