<div class="web-sign-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 m-auto wow fadeInUp" data-wow-delay="0.2s" style="margin-bottom: 50px !important;">
                <div class="bgwhite boxshadow-2 border-radius8 mt-50 pt-20 pb-20 pl-15 pr-15"> 
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-auto" >
                            <div class="sign-bock bgwhite pt-10 pb-10 pl-10 pr-10">
                                <div class="row mt-2">
                                    <div class="col-md-12 text-center">
                                        <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-0 mb-10">Payment</h4>
                                        <p class="fontsize-14 fontfamily-medium color4848 mb-10">Enter your payment detail here</p>
                                         <div class="premium-package-block d-flex pt-20 pb-20 pl-25 pr-25 text-left border-radius8 bggray1 mb-15">
                                            <div class="premium-package-block-lft text-center">
                                                <h6 class="fontfamily-medium fontsize-16 colorblack mb-1">{{subscriptionType}}</h6>
                                                <h5 class="fontfamily-medium fontsize-24 colorblue1 mb-0">$ {{Amount}}</h5>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-0 fontfamily-medium fontsize-12 color4848">{{Description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 p-3 ">
                                        <img src="assets/images/payment_img.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-center">
                                            <form [formGroup]="paymentform" (ngSubmit)="submit()">
                                                <div class="form-group input-rw-tp">
                                                    <input type="text" [(ngModel)]="Cardname"    name="Cardname" formControlName="Cardname"  placeholder="Card Holder Name" class="form-control input-tp-1">
                                                    <i class="fa fa-check-circle check-g"></i>
                                                    <div *ngIf="submited && paymentform.controls['Cardname'].invalid" class="alert-danger text-left error_text">Card Holder Name is required</div>
                                                </div>
                                                
                                                <div class="form-group input-rw-tp">
                                                    <input type="text" [(ngModel)]="CardNumber" maxlength="16" name="CardNumber" formControlName="CardNumber" placeholder="Card Number" class="form-control input-tp-1">
                                                    <i class="fa fa-check-circle check-g"></i>
                                                    <div *ngIf="submited && paymentform.controls['CardNumber'].invalid" class="alert-danger text-left error_text">Card Number is required</div>
                                                </div>
                                                <div class="form-group input-rw-tp row">
                                                    <div class="col-md-6">
                                                        <input type="text" [(ngModel)]="MM"  maxlength="2"   name="MM"  formControlName="MM" placeholder="MM" class="form-control input-tp-1">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" [(ngModel)]="YY"  maxlength="2"  name="YY"  formControlName="YY" placeholder="YY" class="form-control input-tp-1">
                                                    </div>
                                                    <div *ngIf="submited && paymentform.controls['MM'].invalid" class="alert-danger text-left error_text">Expiry Date is required</div>
                                                </div>
                                                <div class="form-group input-rw-tp">
                                                    <input type="number" [(ngModel)]="Ccv"  name="Ccv" formControlName="Ccv"  placeholder="CCV" class="form-control input-tp-1">
                                                    <i class="fa fa-check-circle check-g"></i>
                                                    <div *ngIf="submited && paymentform.controls['Ccv'].invalid" class="alert-danger text-left error_text">CCV is required</div>
                                                </div>
                                                <div class="form-group input-rw-tp">
                                                    <select [(ngModel)]="Country"  name="Country" formControlName="Country" class="form-control  input-tp-1">
                                                        <option value="" >Select Country</option>
                                                        <option value="{{item.name}}"  *ngFor="let item of countries">{{item.name}}</option>
                                                      </select>
                                                      <div *ngIf="submited && paymentform.controls['Country'].invalid" class="alert-danger text-left error_text">Country is required</div>
                                                </div>
                                                <div class="form-group input-rw-tp">
                                                    <input type="text" [(ngModel)]="Address1"  name="Address1" formControlName="Address1" placeholder="Address1" class="form-control input-tp-1">
                                                    <i class="fa fa-check-circle check-g"></i>
                                                    <div *ngIf="submited && paymentform.controls['Address1'].invalid" class="alert-danger text-left error_text">Address is required</div>
                                                </div>
                                                <div class="form-group input-rw-tp">
                                                    <input type="text" [(ngModel)]="Address2"  [ngModelOptions]="{standalone: true}" placeholder="Address2" class="form-control input-tp-1">
                                                    <i class="fa fa-check-circle check-g"></i>
                                                </div>
                                                <div class="form-group input-rw-tp mt-30 mb-0">
                                                    <button class="btn btn-large btn-rad-24" type="submit">PAY NOW</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>