.line-container {
    height: 300px;
    width: 100%;
    display: block;
}

.gauge-container {
    height: 300px;
    width: 100%;
    display: block;
}

.home-section5 {
    background-image: url(../../assets/images/auth/bgimg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}