<section class="contact-us-sec1 mt-70 pb-40 home-section5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 m-auto wow fadeInUp" data-wow-delay="0.2s">
                <div class="mt-50">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="bgwhite boxshadow-2 border-radius8 pt-20 pb-20 pl-30 pr-30">
                                <div class="text-center mb-10">
                                    <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-25 mb-10">Have a query</h4>
                                </div>
                                <div class="">
                                    <div class="rtabs fontsize-16 fontfamily-medium colorblack cursor_pointer" [ngClass]="selecttype == 'I am a Health Organization'?'active':''" (click)="select('I am a Health Organization')" >I am a Health Organization</div>
                                    <div class="rtabs fontsize-16 fontfamily-medium colorblack cursor_pointer" [ngClass]="selecttype == 'I am a Business/Organization/Institution'?'active':''"  (click)="select('I am a Business/Organization/Institution')">I am a Business/Organization/Institution
                                    </div>
                                    <div class="rtabs fontsize-16 fontfamily-medium colorblack cursor_pointer" [ngClass]="selecttype == 'Other'?'active':''" (click)="select('Other')">Other</div>
                                </div>
                                <div class="mt-30">
                                    <form [formGroup]="contactform" (ngSubmit)="submit()">
                                        <div class="form-group input-rw-tp">
                                            <input name="email" type="email"  [(ngModel)]="Email" placeholder="Email" class="form-control input-tp-1" required  formControlName="email">
                                            <div *ngIf="contactform.controls['email'].invalid && submited" class="error-text alert-danger text-left mt-10">Email is not valid</div>
                                        </div>
                                        
                                        <div class="form-group input-rw-tp">
                                            <input type="text"  [(ngModel)]="Phone" [ngModelOptions]="{standalone: true}" name="" placeholder="Phone Number" class="form-control input-tp-1">
                                        </div>
                                        <div class="form-group input-rw-tp">
                                            <textarea type="text" name=""  [(ngModel)]="Message" [ngModelOptions]="{standalone: true}" cols="30" rows="4" placeholder="Query" class="form-control" style="    border: none;
                                            border-bottom: 1px solid #E8E8E8"></textarea>
                                        </div>
                                        <div class="form-group input-rw-tp mt-40">
                                            <button type="submit" class="btn btn-large btn-rad-24">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pl-30 pt-15">
                            <h3 class="fontsize-36 fontfamily-medium colorwhite mb-15">Contact us</h3>
                            <p class="fontsize-16 fontfamily-medium colorwhite mb-40">For queries, please contact us at entrypass246@gmail.com</p>
                            <div class="colorwhite">
                            <img src="assets/images/email.png" class="mr-10"> Email : entrypass246@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>