<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8">
            <div class="">
                <div class="d-flex pt-0 pb-15 pl-20 pr-20">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Profile</div>                    
                </div>

                <div class="p-3">
                    <form  (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="text"[(ngModel)]="Name"  [ngModelOptions]="{standalone: true}" placeholder="BusinessName" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="text" [(ngModel)]="UserName"  [ngModelOptions]="{standalone: true}" placeholder="ContactPerson" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="date"  [(ngModel)]="Birthday"  [ngModelOptions]="{standalone: true}"  placeholder="Birthday" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp phone-o-field">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                            <div class="relative">
                                                <select   [(ngModel)]="DefaultValue" name="phonecode"  [ngModelOptions]="{standalone: true}" class="form-control input-tp-1">
                                                  <option value="" *ngFor="let item of countries" value="{{item.callingCodes[0]}}">
                                                    + {{item.callingCodes[0]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{item.name}})
                                                  </option>
                                                </select>
                                                <!-- <input type="text" name="" placeholder="+1 246" class="form-control input-tp-1"> -->
                                                <img [src]="getCountry()" class="flag-img">
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                            <input type="text" [(ngModel)]="Phone"  [ngModelOptions]="{standalone: true}" placeholder="Phone Number" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="text"  [(ngModel)]="Address1"  [ngModelOptions]="{standalone: true}" placeholder="Address 1" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="text"  [(ngModel)]="Address2"  [ngModelOptions]="{standalone: true}" placeholder="Address 2" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input type="text" [(ngModel)]="Region"  [ngModelOptions]="{standalone: true}" placeholder="State/Parish/Region" class="form-control input-tp-1">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <select [(ngModel)]="Country"  [ngModelOptions]="{standalone: true}" class="form-control  input-tp-1">
                                      <option value="" >Select Country</option>
                                      <option value="{{item.name}}"  *ngFor="let item of countries">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp">
                                    <input name="email" placeholder="Email Address" readonly  [(ngModel)]="Email"   required type="text" class="form-control input-tp-1">
                                </div>
                            </div>                                                             
                           
                        </div>
                        <div class="text-right">
                            <div class="form-group input-rw-tp mt-30 mb-0 mb-3">                                    
                               <button type="submit" class="btn width150 btn-rad-24"  >Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-flex pt-0 pb-15 pl-20 pr-20">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Change Password</div>                    
                </div>

                <div class="p-3">
                    <form   [formGroup]="form" (ngSubmit)="onchangepassword()">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp" [ngClass]="(submited && form.controls['password'].invalid) ? 'mb-0':''">
                                    <input name="password" placeholder="New Password"   [(ngModel)]="Password" required type="password" formControlName="password" class="form-control input-tp-1">                                                   
                                </div>
                                <div *ngIf="submited && form.controls['password'].invalid" class="alert-danger text-left">Password is required</div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group input-rw-tp"  [ngClass]="((submited && form.controls['confirm_pass'].errors && form.controls['confirm_pass'].errors.required) || (submited && form.controls['confirm_pass'].errors && !form.controls['confirm_pass'].errors.required && form.controls['confirm_pass'].errors.mustMatch)) ? 'mb-0':''">
                                    <input name="confirm_pass" placeholder="Confirm New Password"  [(ngModel)]="ConfirmPassword"   required type="password" formControlName="confirm_pass" class="form-control input-tp-1">
                                </div>
                                <div *ngIf="submited && form.controls['confirm_pass'].errors && form.controls['confirm_pass'].errors.required" class="alert-danger text-left">Confirm Password is required</div>
                                <div *ngIf="submited && form.controls['confirm_pass'].errors && !form.controls['confirm_pass'].errors.required && form.controls['confirm_pass'].errors.mustMatch" class="alert-danger text-left">Confirm Password is not matched</div>
                            </div> 
                        </div>
                        <div class="text-right">
                            <div class="form-group input-rw-tp mt-30 mb-0 mb-3">                                    
                               <button type="submit" class="btn width350 btn-rad-24"  >Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>