<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8 pt-30 pb-30 pl-30 pr-30 mb-30">
            <div class="container">
                <div class="text-center">
                    <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-25 mb-10">Location</h4>
                    <p class="fontsize-14 fontfamily-medium color4848 mb-50">Enter Your business location here</p>
                </div>
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 m-auto">
                        <div class="text-right mb-10">
                            <button class="btn widthfit addlocationbtn">Add a Location</button>
                        </div>
                        <div class="add-location-form bggray1 pl-10 pr-10 pt-10">
                            <div class="addlocationrow relative">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="ABC Inc." class="form-control input-tp-1">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Warrens, St. Micheal" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="addlocationrow relative">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <div class="btn-group multi_sigle_select inp_select">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle mss_sl_btn" aria-expanded="false">Primary</button>
                                                <ul class="dropdown-menu mss_sl_btn_dm">
                                                    <li class="radiobox-image"><input type="radio" id="id_283" name="state_name" class="" value="283"><label for="id_283">Primary</label></li>
                                                    <li class="radiobox-image"><input type="radio" id="id_284" name="state_name" class="" value="284"><label for="id_284">Secondary</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="David Fadnis" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Email ID" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="loc-plus-a"><!-- <i class="fas fa-plus-square loc-icn"></i> --><img src="assets/images/plus.png" class="loc-icn"> </a>
                            </div>
                        </div>

                        <div class="add-location-form bggray1 pl-10 pr-10 pt-10">
                            <div class="addlocationrow relative">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Millar's Inc." class="form-control input-tp-1">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Mile & Quarter, St Peter" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="addlocationrow relative">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <div class="btn-group multi_sigle_select inp_select">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle mss_sl_btn" aria-expanded="false">Primary</button>
                                                <ul class="dropdown-menu mss_sl_btn_dm">
                                                    <li class="radiobox-image"><input type="radio" id="id_283" name="state_name" class="" value="283"><label for="id_283">Primary</label></li>
                                                    <li class="radiobox-image"><input type="radio" id="id_284" name="state_name" class="" value="284"><label for="id_284">Secondary</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="David Fadnis" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Email ID" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="loc-plus-a"><!-- <i class="fas fa-trash-alt loc-icn delete-icon"></i> --> <img src="assets/images/delete.png" class="loc-icn delete-icon"> </a>
                            </div>
                            <div class="addlocationrow relative">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <div class="btn-group multi_sigle_select inp_select">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle mss_sl_btn" aria-expanded="false">Primary</button>
                                                <ul class="dropdown-menu mss_sl_btn_dm">
                                                    <li class="radiobox-image"><input type="radio" id="id_283" name="state_name" class="" value="283"><label for="id_283">Primary</label></li>
                                                    <li class="radiobox-image"><input type="radio" id="id_284" name="state_name" class="" value="284"><label for="id_284">Secondary</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Nigel Francis" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="form-group input-rw-tp">
                                            <input type="text" name="" placeholder="Email ID" class="form-control input-tp-1">
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="loc-plus-a"><!-- <i class="fas fa-plus-square loc-icn"></i> --> <img src="assets/images/plus.png" class="loc-icn"></a>
                            </div>
                        </div>

                        <div class="text-center mt-50">
                            <button class="btn width250 btn-rad-24">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>