<div class="web-sign-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 m-auto">
        <div class="bgwhite boxshadow-2 border-radius8 mt-50 pt-20 pb-20 pl-15 pr-15">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 m-auto">
              <div class="sign-bock bgwhite pt-10 pb-10 pl-10 pr-10">
                <div class="text-center">
                  <!-- <img src="images/logo.svg" class="sign-logo"> -->
                  <h4 class="fontsize-26 fontfamily-bold colorblack text-uppercase mt-0 mb-10">Reset password</h4>
                  <p class="fontsize-14 fontfamily-medium color4848 mb-50">Enter your new password and confirm to reset</p>
                  <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group input-rw-tp" [ngClass]="(form.controls['pass'].errors && form.controls['pass'].errors.required && submited) ? 'mb-0':''">
                      <input name="new_pass" [(ngModel)]="Password"  placeholder="New Password" required type="password" formControlName="pass" class="form-control input-tp-1">
                      <i class="fa fa-check-circle check-g"></i>
                    </div>
                    <div *ngIf="form.controls['pass'].errors && form.controls['pass'].errors.required && submited" class="alert-danger text-left">Password is required</div>
                    <div class="form-group input-rw-tp" [ngClass]="(form.controls['confirm_pass'].errors && form.controls['confirm_pass'].errors.required && submited) ? 'mb-0':''">
                      <input name="confirm_pass"  [(ngModel)]="ConfirmPassword" placeholder="Confirm Password" required type="password" formControlName="confirm_pass" class="form-control input-tp-1">
                      <i class="fa fa-check-circle check-g"></i>
                    </div>                      
                    <div *ngIf="form.controls['confirm_pass'].errors && form.controls['confirm_pass'].errors.required && submited" class="alert-danger text-left">Confirm Password is required</div>
                    <div *ngIf="form.controls['confirm_pass'].errors && form.controls['confirm_pass'].errors.mustMatch && submited" class="alert-danger text-left">Confirm Password has to be equal with Password</div>                  
                    <div class="form-group input-rw-tp mt-30 mb-0">
                      <button type="submit" class="btn btn-large btn-rad-24">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>