.flag-img{
    width: 24px;
    height: 18px;
    top:12px;
}

fieldset {
    background-color: #fff;
    border: 1px solid #4a6076;
    border-radius: 5px;
  }
  
  legend {
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    width: auto;
    margin-left: 15px;
  }