<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8">
            <div class="">
                <div class="d-flex pt-0 pb-15 pl-20 pr-20">
                    <div class="ttle-h fontsize-14 fontfamily-medium color333">Subscription Payments</div>
                    <div class="ml-auto">
                        <button class="btn widthfit btn-border-b btn-rad-24 btn-small">Export </button>
                    </div>
                </div>

                <div class="p-3">

                    <table class="table table-hover table-responsive" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th class="text-left">Business Name</th>
                                <th class="text-center">Subscription type</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Location</th>
                                <th class="text-left">Subscription Date</th>
                                <th class="text-center">Next Payment Date</th>
                                <th class="text-center">Account Status</th>
                                <th class="text-center">Account Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Basic</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Basic</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-red">Not in Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-left">Spire Health Care Ltd.</td>
                                <td class="text-center">Premium</td>
                                <td class="text-center">$29</td>
                                <td class="text-center">Warrens, St Michael</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center">11 Sep 2020</td>
                                <td class="text-center status-blue">In Good Standing</td>
                                <td class="text-center status-blue">Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>