<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{'Please wait...' | translate}}</p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content bgwhite boxshadow-2 border-radius8 pt-25 pb-25 pl-40 pr-20">            
            <div class="row my-4">
                <div class="col-xl-8 col-lg-8  offset-md-2 col-md-8 col-sm-12 col-12">
                    <form>
                        <fieldset>
                            <legend *ngIf="new">Create Faq</legend>  
                            <legend *ngIf="!new">Edit Faq</legend>  
                            <div class=" px-3">
                                <div class="form-group input-rw-tp">
                                    <label for="">Question</label>
                                    <input type="text"  [(ngModel)]="Question" [ngModelOptions]="{standalone: true}" placeholder="Question" class="form-control input-tp-1">
                                </div>
                                <div class="form-group input-rw-tp">
                                    <label for="">Answer</label>
                                    <textarea  [(ngModel)]="Answer" [ngModelOptions]="{standalone: true}" cols="30" rows="5" placeholder="Answer" class="form-control">
                                    </textarea>
                                </div>
                                <div class="form-group input-rw-tp">
                                    <label for="">Type</label>
                                    <select [(ngModel)]="Type" [ngModelOptions]="{standalone: true}"  class="form-control input-tp-1">
                                        <option value="health">Health Organization</option>
                                        <option value="business">Business/Institution</option>
                                        <option value="user">User</option>
                                    </select>
                                </div>
                                <div class="form-group input-rw-tp">
                                    <div class="d-flex ">
                                        <div class="fontfamily-medium fontsize-12 color999">Status</div>
                                        <div class="ml-5">
                                            <input type="checkbox" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Status" >                                    
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </fieldset>   
                        <div class="mt-40">
                            <div class="">
                                <button class="btn btn-gray width150 btn-rad-24" (click)="back()">Cancel</button>
                                <span class="ml-15"><button class="btn width150 btn-rad-24" (click)="create()" *ngIf="new">Save</button></span>
                                <span class="ml-15"><button class="btn width150 btn-rad-24" (click)="update()" *ngIf="!new">Update</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>