<section class="home-section5 pt-50 pb-50 relative">
  <div class="container mt-50">
    <div class="text-center mb-50 wow fadeInUp" data-wow-delay="0.2s">
      <h2 class="relative title-text colorwhite fontfamily-bold fontsize-40 pb-10 mb-10">Subscription Packages</h2>
      <p class="colorwhite mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing ras vestibulum ma us iaculis.</p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="hm-pricing-block bgwhite pt-35 pb-50 pl-20 pr-20 text-center">
          <h5 class="fontsize-20 colorblack fontfamily-medium mb-15">Basic</h5>
          <h2 class="fontsize-46 fontfamily-bold colorblue1 mb-45">$29</h2>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <div class="text-center mt-40">
            <button class="btn bluebtn width160">Start Now</button>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="hm-pricing-block bgwhite pt-35 pb-50 pl-20 pr-20 text-center">
          <h5 class="fontsize-20 colorblack fontfamily-medium mb-15">Premium</h5>
          <h2 class="fontsize-46 fontfamily-bold colorblue1 mb-45">$49</h2>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <div class="text-center mt-40">
            <button class="btn bluebtn width160">Start Now</button>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="hm-pricing-block bgwhite pt-35 pb-50 pl-20 pr-20 text-center">
          <h5 class="fontsize-20 colorblack fontfamily-medium mb-15">Platinum</h5>
          <h2 class="fontsize-46 fontfamily-bold colorblue1 mb-45">$89</h2>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <p class="colorblack mb-10">Lorem ipsum simple</p>
          <div class="text-center mt-40">
            <button class="btn bluebtn width160">Start Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>