
<section class="home-section1 home-banner-sec d-flex align-items-center justify-content-center">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="banner-slider-rw">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center">
                <div class="bnr-sl-left-cnt ">
                  <h1 class="fontsize-60 fontfamily-heavy colorblue mb-1">Protecting lives and livelihoods</h1>
                  <p>Use our digital visitor management service to help maintain public health and safety for all. Let’s do our part to protect lives and livelihoods against the negative impacts of infectious viruses. Avoid prolonged shutdowns with Entrypass.</p>
                  <p>Visit the Google Play Store and Apple Store to download our mobile app, today.</p>
                  <button class="btn widthfit bluebtn" (click)="gotosubscription()">Get Started</button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/images/slimg1.png" class="bnr-sl-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="banner-slider-rw">
          <div class="container">
             <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center">
                <div class="bnr-sl-left-cnt ">
                  <h1 class="fontsize-60 fontfamily-heavy colorblue mb-1">Protecting lives and livelihoods</h1>
                  <p>Use our digital visitor management service to help maintain public health and safety for all. Let’s do our part to protect lives and livelihoods against the negative impacts of infectious viruses. Avoid prolonged shutdowns with Entrypass.</p>
                  <p>Visit the Google Play Store and Apple Store to download our mobile app, today.</p>
                  <button class="btn widthfit bluebtn" (click)="gotosubscription()">Get Started</button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/images/slimg1.png" class="bnr-sl-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="banner-slider-rw">
          <div class="container">
             <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center">
                <div class="bnr-sl-left-cnt ">
                  <h1 class="fontsize-60 fontfamily-heavy colorblue mb-1">Protecting lives and livelihoods</h1>
                  <p>Use our digital visitor management service to help maintain public health and safety for all. Let’s do our part to protect lives and livelihoods against the negative impacts of infectious viruses. Avoid prolonged shutdowns with Entrypass.</p>
                  <p>Visit the Google Play Store and Apple Store to download our mobile app, today.</p>
                  <button class="btn widthfit bluebtn" (click)="gotosubscription()">Get Started</button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/images/slimg1.png" class="bnr-sl-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    </div>
    <!-- Left and right controls -->
  </div>
</section>
<section class="home-section2 pt-120 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 left-col-sec2">
        <h2 class="fontfamily-bold fontsize-40 colorblue mb-20 wow fadeInUp" data-wow-delay="0.2s">Entrypass: A digital public health and safety solution for all.</h2>
        <p class="fontsize-14 wow fadeInUp" data-wow-delay="0.3s">Entrypass brings individuals inner peace when going out shopping for essentials. Sharing your visitor details helps us to protect you and the more vulnerable persons in our society.</p>
        <p class="fontsize-14 wow fadeInUp" data-wow-delay="0.3s">Entrypass allows visitors to check-in to business places smoothly. It greatly reduces the work needed to collect and safely store visitor entry-exit data. Entrypass allows businesses to focus on value-added activities while adhering to national protocols.</p>
        <p class="fontsize-14 wow fadeInUp" data-wow-delay="0.3s">Entrypass also supports approved health institutions (e.g. Ministry of Health) by providing a full-scale, user-friendly, digital tool to optimize contact tracing efforts.</p>
        <p class="fontsize-14 wow mb-30 fadeInUp" data-wow-delay="0.3s">Entrypass helps in the fight against infectious viruses.</p>
        <div class="wow fadeInUp" data-wow-delay="0.4s">
          <button class="btn widthfit bluebtn" (click)="gotosubscription()">Get Started</button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 rgt-col-sec2">
        <div class="relative">
          <img src="assets/images/img1.png" class="img-rgt-cl-sec2">
          <img src="assets/images/bgimg1.png" class="before-bgimg1">
          <div class="bg-rgt-rgtsec2"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section3 pt-80 pb-50 relative">
  <div class="blebg-sec3"></div>
  <div class="container">
    <div class="text-center mb-50 wow fadeInUp" data-wow-delay="0.2s">
      <h2 class="relative title-text colorblack fontfamily-bold fontsize-40 pb-10 mb-10">How it works</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="lst-block-hm-sec3 border-w pt-30 pb-30 pl-20 pr-20 bgwhite wow fadeInUp" data-wow-delay="0.4s" style="min-height:360px">
          <img src="assets/images/rectangle1.png" class="lst-ig-sec3">
          <h5 class="fontsize-20 fontfamily-bold colorblack colorblack1 mb-10 mt-30">Get unique visitor ID</h5>
          <p>Individuals create their user profile and receive a unique visitor ID which protects their personal data. Visitor ID is then used to privately and securely check-in and out at different venues.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="lst-block-hm-sec3 border-w pt-30 pb-30 pl-20 pr-20 bgwhite wow fadeInUp" data-wow-delay="0.4s" style="min-height:360px">
          <img src="assets/images/rectangle1.png" class="lst-ig-sec3">
          <h5 class="fontsize-20 fontfamily-bold colorblack colorblack1 mb-10 mt-30">Scan, Enter and Enjoy</h5>
          <p>Businesses collect visitor data via a safe and automated system which protects visitor privacy</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="lst-block-hm-sec3 border-w pt-30 pb-30 pl-20 pr-20 bgwhite wow fadeInUp" data-wow-delay="0.4s" style="min-height:360px">
          <img src="assets/images/rectangle1.png" class="lst-ig-sec3">
          <h5 class="fontsize-20 fontfamily-bold colorblack colorblack1 mb-10 mt-30">Protect public health, safety and wellness</h5>
          <p>Visitor data collected at each venue point is automatically transferred to the Health Authorities for public health & safety purposes only (e.g. contact tracing).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section4 pt-50 pb-60 relative">
  <div class="blue-bg-rgt-hm-sec4"></div>
  <div class="container">
    <div class="text-center mb-50">
      <h2 class="relative title-text colorblack fontfamily-bold fontsize-40 pb-10 mb-10">App Features</h2>
    </div>
    <div class="row ">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 hm-left-col-sec4">
        <div class="relative pt-80">
          <img src="assets/images/bgimg1.png" class="before-bgimg2">
          <img src="assets/images/img2.png" class="hm-left-img-sec4">
          <img src="assets/images/bgimg2.png" class="after-bgimg1">
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 hm-left-col-sec4 ">
        <h4 class="fontsize-28 fontfamily-medium colorblack1 mb-20 mb-5" style="color: #1A1818;font-size:28px">Scanner for any Business or Person</h4>
        <div class="row pt-5 my-3">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Easy and Intuitive interface</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Privacy & Personal data protection</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Visitor management (check-in/check-out)</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">User Account management (business & personal)</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Highly secured visitor database</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Database management</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Report management and customization</h5>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="hm-feat-rw mb-40">
              <img src="assets/images/avatar-image.png" class="hm-feat-img">
              <h5 class="fontsize-20 colorblack1 fontfamily-medium mb-10" style="color:#182429;font-size:20px">Exportable reports</h5>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn bluebtn widthfit" (click)="gotosubscription()">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-section5 pt-50 pb-50 relative">
  <div class="container">
    <div class="text-center mb-50 wow fadeInUp" data-wow-delay="0.2s">
      <h2 class="relative title-text colorwhite fontfamily-bold fontsize-40 pb-10 mb-10">Subscription Packages</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0.4s" *ngFor="let item of subscriptiondata">
        <div class="hm-pricing-block bgwhite pt-35 pb-50 pl-20 pr-20 text-center">
          <h5 class="fontsize-20 colorblack fontfamily-medium mb-15">{{item.Name}}</h5>
          <h2 class="fontsize-36 fontfamily-bold colorblue1 mb-15">$ {{item.Amount.toFixed(2)}} USD</h2>
          <h5 class="fontsize-18 colorblack fontfamily-medium mb-2" *ngIf="item.Numbermin==item.Numbermax" >{{item.Numbermin}} Account(s)</h5>
          <h5 class="fontsize-18 colorblack fontfamily-medium mb-2" *ngIf="item.Numbermin != item.Numbermax" >{{item.Numbermin}} to {{item.Numbermax}} Account(s)</h5>
          <p class="colorblack mb-10 text-left description" [innerHtml]="item.Description"></p>    
          <div class="text-center mt-40">
            <button class="btn bluebtn width160"  (click)="payment(item)">Start Now</button>
          </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <p class="mb-0 colorwhite" style="font-size: 16px;">Entrypass accepts payments via credit card.</p>
        <p class="mb-0 colorwhite" style="font-size: 16px;">Entrypass also accepts payment via cheque and wire transfer. </p>
        <p class="mb-0 colorwhite" style="font-size: 16px;">Please note, Entrypass only accepts wire transfers for amounts greater than US$2000.</p>
        <p class="colorwhite" style="font-size: 16px;">Organizations and institutions which desire to use cheque or wire transfer as a method of payment, should contact us here <a [routerLink]="['/auth/contact']" style="color: red;">Contact Us</a> or send an email to entrypass246@gmail.com.</p>
      </div>
    </div>
  </div>
</section>
