<div class="row">
    <div class="col-md-12">
        <div class="right-sidebar-content mt-40 bgwhite boxshadow-2 border-radius8">
            <div class="">               
                <div class="p-3">   
                    <form [formGroup]="form1" (ngSubmit)="smtpsubmit()">
                         <fieldset>
                            <legend>Smtp Information</legend>  
                            <div class="row p-3">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Host</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input name="host" placeholder="Host"   [(ngModel)]="Host" required type="text" formControlName="host" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited1 && form1.controls['host'].invalid" class="alert-danger text-left">Host is required</div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Port</label>
                                    <div class="form-group input-rw-tp mb-1 ">
                                        <input name="port" placeholder="Port"   [(ngModel)]="Port" required type="text" formControlName="port" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited1 && form1.controls['port'].invalid" class="alert-danger text-left">Port is required</div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Email</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input name="email" placeholder="Email"   [(ngModel)]="Email" required type="text" formControlName="email" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited1 && form1.controls['email'].invalid" class="alert-danger text-left">Email is required</div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Password</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input name="password" placeholder="Password"   [(ngModel)]="Password" required type="text" formControlName="password" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited1 && form1.controls['password'].invalid" class="alert-danger text-left">Password is required</div>
                                </div>
                            </div> 
                        </fieldset>                      
                        <div class="row">
                            <div class="col-12 mt-3 mb-20">
                                <div class="text-right pb-20">
                                    <span class="mr-15"><button type="submit" class="btn width150 btn-rad-24">Save</button></span>
                                </div>
                            </div>
                        </div>                        
                    </form>     
                </div>
            </div>
            <div class="">               
                <div class="p-3">   
                    <form [formGroup]="form" (ngSubmit)="plugsubmit()">
                         <fieldset>
                            <legend>Plug n Pay Information</legend>  
                            <div class="row p-3">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Publisher Name</label>
                                    <div class="form-group input-rw-tp mb-1" >
                                        <input name="publisher_name" placeholder="Publisher Name"   [(ngModel)]="Publisher_name" required type="text" formControlName="publisher_name" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited && form.controls['publisher_name'].invalid" class="alert-danger text-left">Publisher name is required</div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Publisher Email</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input name="publisher_email" placeholder="Publisher Email"   [(ngModel)]="Publisher_email" required type="email" formControlName="publisher_email" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited && form.controls['publisher_email'].invalid" class="alert-danger text-left">Publisher Email is required</div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Remote client Password</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input name="publisher_password" placeholder="Remote client Password"   [(ngModel)]="Publisher_password" required type="text" formControlName="publisher_password" class="form-control input-tp-1">                                                   
                                    </div>
                                    <div *ngIf="submited && form.controls['publisher_password'].invalid" class="alert-danger text-left">Remote client Password is required</div>
                                </div>
                            </div> 
                        </fieldset>                      
                        <div class="row">
                            <div class="col-12 mt-3 mb-20">
                                <div class="text-right pb-20">
                                    <span class="mr-15"><button type="submit" class="btn width150 btn-rad-24">Save</button></span>
                                </div>
                            </div>
                        </div>                        
                    </form>     
                </div>
            </div>  
            <div class="">               
                <div class="p-3">   
                    <form  (ngSubmit)="transcationdayssubmit()">
                         <fieldset>
                            <legend>Transactions Historical Days</legend>  
                            <div class="row p-3">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Business Days</label>
                                    <div class="form-group input-rw-tp mb-1" >
                                        <input  placeholder="Business Days"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="Businessdays" required type="number"  class="form-control input-tp-1">                                                   
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    <label for="">Health Days</label>
                                    <div class="form-group input-rw-tp mb-1">
                                        <input  placeholder="Health Days"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="Healthdays" required type="number"  class="form-control input-tp-1">                                                   
                                    </div>
                                </div>                                
                            </div> 
                        </fieldset>                      
                        <div class="row">
                            <div class="col-12 mt-3 mb-20">
                                <div class="text-right pb-20">
                                    <span class="mr-15"><button type="submit" class="btn width150 btn-rad-24">Save</button></span>
                                </div>
                            </div>
                        </div>                        
                    </form>     
                </div>
            </div>           
        </div>
    </div>
</div>